* {
  overflow: hidden;
}
html, body {
  margin: 0;
}
.pop{
  max-width: 300px !important;
}

.img {
  width: 300px;
  height: 150px;
}

.l7-popup-content{
  padding: 0;
  width: 300px;
}

.plane{
  width: 30px;
}

.drawer{
  border: 1px solid red;
  height: 100vh;
  width: 30%;
  position: absolute;
  z-index: 9999;
}

.l7-marker > svg {
  height: 30px;
}
